.container
  .padding.result-container
    #smartphone
      %h2 Smartphone
      
      .frame
        .overlay
          320px
        %iframe{src: 'http://www.denkgroot.com', sandbox: "allow-forms allow-scripts", scrolling: "no"}

    #tablet
      %h2 Tablet

      .frame
        .overlay
          640px
        %iframe{src: 'http://www.denkgroot.com', sandbox: "allow-forms allow-scripts", scrolling: "no"}

    #pc
      %h2 PC

      .frame
        .overlay
          1024px
        %iframe{src: 'http://www.denkgroot.com', sandbox: "allow-forms allow-scripts", scrolling: "no"}