.container
  .padding.result-container
    #smartphone
      %h2{data: {icon: 'S'}} Mobiel

      .frame
        .overlay
          mobiel
        %iframe{src: @website, sandbox: "allow-forms allow-scripts", scrolling: "no"}

    #tablet
      %h2{data: {icon: 'T'}} Tablet

      .frame
        .overlay
          tablet
        %iframe{src: @website, sandbox: "allow-forms allow-scripts", scrolling: "no"}

    #pc
      %h2{data: {icon: 'P'}} PC

      .frame
        .overlay
          pc
        %iframe{src: @website, sandbox: "allow-forms allow-scripts", scrolling: "no"}