.container
  .padding
    #smartphone
      %h2 Smartphone

      .frame
        %iframe{src: 'http://www.denkgroot.com', width: 320, height: 480}

    #tablet
      %h2 Tablet

      .frame
        %iframe{src: 'http://www.denkgroot.com', width: 768, height: 480}

    #pc
      %h2 PC

      .frame
        %iframe{src: 'http://www.denkgroot.com', width: 1024, height: 480}