.container
  .padding.result-container
    #smartphone
      %h2 Smartphone

      .frame
        %iframe{src: 'http://www.denkgroot.com', sandbox: "allow-forms"}

    #tablet
      %h2 Tablet

      .frame
        %iframe{src: 'http://www.denkgroot.com', sandbox: "allow-forms"}

    #pc
      %h2 PC

      .frame
        %iframe{src: 'http://www.denkgroot.com', sandbox: "allow-forms"}